
/* Inicio sección catálogo */

.catalogoProductos{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
  }

  .contenedorProductos{
    display: flex;
    margin-top: 30px;
  }

  .conteiner__filtro{
    display: flex;
    justify-content: center;
  }
  
  .filtro{
    background: #00BCB4;
    box-shadow: rgba(0, 188, 180, 0.4) 0px 0px 20px 0px;
    border-radius: 10px;
    margin-left: 30px;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 15%;
  }

  .filtro ul{
    list-style: none;
    font-size: medium;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }
  
  .filtro nav ul{
    padding: 30px;
  }

  .filtro nav ul li{
    padding: 10px;
  }
  nav ul li a{
    text-decoration: none;
    color: black;
  }

  ul ul {
    position: absolute;
    display: none;
  }

  ul ul li {
    display: block;
  }

  ul li:hover ul{
    display: contents;
    position: relative;
  }

  .productosTodos{
    max-height: 100%;
    width: 60%;
    background-color: #0bc275;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: space-around;
    gap: 30px;
    padding-bottom: 20px;
  }

  .productos__todos--catálogo{
    display: flex;
    justify-content: space-between;
    grid-row: 1;
    padding-top: 20px;
    gap: 80px;

  }
  .productos__todos--catálogo2{
    display: flex;
    justify-content: space-between;
    grid-row: 2;
  }

  .productos__todos--catálogo3{
    display: flex;
    justify-content: space-between;
    grid-row: 3;
  }

  .productos__todos--catálogo4{
    display: flex;
    justify-content: space-between;
    grid-row: 4;
  }

  .card {
    width: 190px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: rgb(255, 255, 255);
    display: flex;
    border-radius: 20px;
  }
  .card a{
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .card_image{
    display: block;
    text-align: center;
  }
  .card_image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-block: 3px solid rgb(0, 188, 180);
  }