@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #a8ff78;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #a8ff78);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%; 
}

header {
  background-color: #78ffd6;
  height: 70px;
  top: 0px;
  display: grid;
  grid-area: header; }
  header .menu {
    width: 30px;
    height: 30px;
    cursor: pointer;}
  header .planetatierra {
    height: 60px;
    cursor: pointer;
    width: 60px;
    background-color: #78ffd6;
  }
  header .carrito {
    height: 30px;
    width: 30px; }

.carrusel {
  z-index: 0; }

.imagencar1{
  width: 1903px;
  height: 990px;
}

#btn-menu {
  display: none; }

.container-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden; }

#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible; }

.cont-menu {
  width: 100%;
  max-width: 250px;
  background: #26ebb0;
  height: 100vh;
  position: fixed;
  transition: all 500ms ease;
  transform: translateX(-100%);
  z-index: 2; }

#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%); }

.cont-menu nav {
  transform: translateY(15%); }

.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #06373A;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
  margin-top: 10px; }

.cont-menu nav a:hover {
  border-left: 5px solid #061A23;
  border-radius: 30px;
  background: #06373A;
  color: #49B265; }

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px; }

/*  Index */
.productos {
  font-family: 'Comfortaa', cursive;
}
.productos__titulo {
  color: #3f2b96;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 30px; }

.productos__imagenes {
  display: flex;
  text-align: center;
  margin-top: 1%; }
  .productos__imagenes h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 10px; }
  .productos__imagenes p {
    font-size: larger;
    width: 30%;
    margin-left: 35%;
    text-align: center; }
  .productos__imagenes img {
    height: 200px;
    width: 40%; }


.banner__dos {
  background: #7070fa;
  background-image: url(../imagenes/imgbanner.jpg);
  background-size: cover;
  background-position-y: -40px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  margin-top: 50px;
  grid-area: bannerdos; }

.categorias__titulo {
  text-align: center;
  color: #3f2b96;
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 30px; }

.categorias__todas {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 60px; }

.categorias__todas--uno, .categorias__todas--dos, .categorias__todas--tres {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-color: #13ce66;
  margin-left: 20px;
  height: 800px;
  width: 400px; }

.reutilizable{
  height: 800px;
  width: 400px;
}

.h1abs{
  position: absolute;
  color: white;
  text-align: center;
  display: flex;
  align-self: flex-end;
}

.h1abs h1{
  font-size: x-large;
}

.purificador{
  height: 800px;
  width: 400px;
}

.higiene{
  height: 800px;
  width: 400px;
}

.whatsapp {
  height: 60px;
  width: 60px;
  position: fixed;
  top: 800px;
  margin-top: 30px;
  margin-left: 1830px; }


/* Inicio sección Locales */
.locales__titulo {
  font-size: x-large;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 40px; }

.row {
  width: 100%; }

.locales__mapa--ubicacion {
  font-size: x-large;
  font-weight: bolder;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.locales {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center; }

.localesdiv {
  display: flex;
  justify-content: center; }

.ubimap {
  margin-top: 10px; }

.divubimapa {
  display: flex;
  justify-content: center; }

/*Inicio sección Contactos*/
.formulario__titulo {
  font-size: x-large;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 100px; }

.formulario__subtitulo {
  font-size: larger;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center; }

.contact__container {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: auto;
  padding: 10px; }

.divsendb {
  display: flex;
  justify-content: center; }

.buttoncont {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none; }

.buttoncont:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px); }

.buttoncont:active {
  transform: translateY(-1px); }

label {
  padding: 10px; }

.ancho {
  width: 20em; }

/* Inicio sección Carrito */
.productos__carrito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px; 
}

.productos__carrito--articulos {
  background-color: #eeeeee;
  width: 50%;
  height: 511px;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif; 
  min-width: 300px;
  border-radius: 5%;
  box-shadow: 3px 9px 20px #000;
  margin-bottom: 40px;
}

.productos__carrito--titulo {
  margin-top: 30px;
  text-align: center; }

.productos__carrito--compra {
  background-color: #93FFCD;
  width: 20%;
  height: 511px; 
  margin-right: auto;
  margin-left: auto;
  min-width: 300px;
  border-radius: 5%;
  box-shadow: 3px 9px 30px #000;
}

.productos__carrito--resumen {
  font-size: x-large;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 20px; }

.productos__carrito--subtotal {
  font-size: larger;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 30px; }

.productos__carrito--envio {
  font-size: larger;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold; 
  margin-left: 30px;
}

.productos__carrito--total {
  font-size: x-large;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-top: 200px;
  margin-left: 30px; }

.productos__carrito--comprar {
  text-align: center;
  font-size: x-large;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-top: 30px;
  text-decoration: underline; }

/* Inicio footer */
footer {
  background-color: #78ffd6;
  height: 198px;
  width: 100%;
  margin-top: 228px;
  display: flex;
  grid-area: footer; }

footer {
  grid-area: footer;
  display: flex; }

.footer__links {
  display: flex;
  align-content: center;
  text-decoration: none; }

.contfoot {
  display: inline-block; }

.footer__redes {
  display: flex;
  align-items: center;
  justify-content: end;
  align-content: flex-end; }

.footer__redes--twitter, .footer__redes--instagram, .footer__redes--facebook {
  height: 40px;
  width: 40px; }

.footwitter {
  display: flex; }

.footer__logo {
  height: 70px;
  width: 70px;
  margin-left: 30px; }

.footer__inicio {
  font-size: larger;
  font-weight: bold;
  margin-left: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none; }

.footer__contacto, .footer__locales {
  font-size: larger;
  font-weight: bold;
  margin-left: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none; }

.footer__inicio {
  color: #3ea03a; }

.footer__contacto, .footer__locales {
  color: #3ea03a; }

.footer__locales {
  color: #3ea03a; }

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 29rem);
  justify-content: center;
  margin: 1rem;
  margin-left: 2%;
}

.container {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  text-align: center;
  border-radius: 1rem;
  position: relative;
  margin: 0.5rem;
  gap: 30px;
  background-size: cover;
  background-position: center;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}
.catProducto1{
  background-image: url(../imagenes/Botella-agua.jpeg);
}

.catProducto2{
  background-image: url(../imagenes/Velador-Sustentable2.jpg);
}

.catProducto3{
  background-image: url(../imagenes/Purificador-hidrolit.jpg);
}

.catProducto4{
  background-image: url(../imagenes/Termito-Journey.jpg);
}

.catProducto5{
  background-image: url(../imagenes/veladorsustentable2.jpg);
}

.catProducto6{
  background-image: url(../imagenes/Cepillo.jpg);
}

.catProducto7{
  background-image: url(../imagenes/Jarra\ Purificadora.jpg);
}

.catProducto8{
  background-image: url(../imagenes/Ablandador-aguas.jpg);
}

.catProducto9{
  background-image: url(../imagenes/Holder-Madera.jpg);
}

.name {
  background: rgb(150, 231, 74);
  color: black;
  margin-top: 100px;
  font-weight: bold;
  font-size: 1.5rem;
}
.parrafoCat{
  background-color: white;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background-color: burlywood;
}

.leo{
  height: 353px
}

.iniciarSesion{
  display: flex;
  justify-content: center;
  
}

.userIcon{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.userImg{
  border: solid black 3px;
  border-radius: 50%;
}

.btn{  
  background: rgb(223, 223, 223);  
  width: auto;  
  height: 30px;  
  padding: 0 10px;  
  color: #000;  
  border: 2px solid transparent;  
  border-radius: 8px;  
  font-weight: 400;  
  font-size: 1em;  
  cursor: pointer;  
  transition: .3s ;  
}  
.btn:hover{  
  background: #000;  
  color: rgb(223, 223, 223);  
}  

.bodyLogin{
  background-color: #a8ff78;
}

.login_sec{  
  width: 100%;  
  display: flex;  
  flex-direction: column;  
  justify-content: center;  
  align-items: center;  
  height: auto;  
}  

.container_log{  
  width: 150px;  
  height: 0px;
  background:#0bc275;
  border-radius: 10px;
  margin-top: 8em;  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  transition: background-color, width 1s;
}  

.container_log:hover{
  content: "";
  background:#d078ff;
  width: 500px;
  height: 500px;
  top: 0;
  left: 0;
}

.heading h1{  
  font-size: 30px;  
  font-family: poppins;  
  letter-spacing: 1px;  
  text-align: center;  
}  
.heading .apple_id{  
  padding: 5px;  
  background: #d078ff;  
  color: #ffff;  
  border: 2px solid transparent;  
  border-radius: 4px;  
  cursor: pointer;  
  transition: .3s ;  
  letter-spacing: 1px;  
}  
.inp-items{  
  margin: 30px 0;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}  
.inp-items label{  
  display: flex;  
  flex-direction: column;  
  font-size: 14px;  
  padding: 10px 0;  
}  
label .inp{  
  margin: 10px 0;  
  padding: 7px;  
  border-radius: 7px;  
  border: 1px solid rgb(218, 218, 218);  
  transition: .1s;  
  outline: 1px solid #fff;  
  width: 230px;  
}  
label .inp:focus{  
  outline: 1px solid #406cc4;  
  border: 1px solid #406cc4;  
}  
.inline{  
  display: flex;  
  justify-content: space-between;  
}  
.inline .pass_fgt{  
  color: #406cc4;  
  text-decoration: underline;  
  cursor: pointer;  
}  
.submit_btn{  
  background: #ff78eb;  
  color: #fff;  
  padding: 7px;  
  border: 2px solid #fff;  
  border-radius: 8px;  
  font-size: 17px;  
  transition: .2s;  
  cursor: pointer;  
}  
.submit_btn:hover{  
  background: #78ff8c;
  color: #ffffff;  
  border: 2px solid #ff78eb;  
}  

.crearCuenta{
  display: flex;
  justify-content: flex-end;
}
.bodyRegistration{
  background-color: #78ff8c;
}

.form {
  background-color: #d078ff;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #8c78ff;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #d078ff;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 60px;
}

.cut-me{
  width: 50px;
}

.cut-short {
  width: 80px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #c5c5dd;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-37px) translateX(1px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #000000;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.form{
  margin: 258px auto auto auto;
  
}

.headerReg{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerCat{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .locubi {
    display: flex;
    justify-content: center; } }
